.form-wrapper {
    border: 1px solid green;
    width:500px;
    margin: 0 auto;
    // text-align: center;
    .login-form {
        background-color: rgba(128, 128, 128, 0.116);
        border: 1px solid black; 
        .login-wrapper {
            border: 1px solid red;
        }
    .register-wrapper {
        border: 1px solid red;
        text-decoration: none;
        
    }  
    }
}

